<?xml version="1.0"?>
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.gazebo
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="robotrainer3_gazebo"
    params="
                    prefix 
                    simulation_controllers 
                    sim_gazebo_classic 
                    sim_gazebo">

    <gazebo reference="world">
    </gazebo>

    <xacro:if value="$(arg sim_gazebo_classic)">
      <!-- Gazebo plugins -->
      <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
          <parameters>${simulation_controllers}</parameters>
        </plugin>
      </gazebo>
    </xacro:if>

    <xacro:if value="$(arg sim_gazebo)">
      <!-- Gazebo plugins -->
      <gazebo>
        <!-- Jazzy <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin"> -->
        <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
          <parameters>${simulation_controllers}</parameters>
          <controller_manager_prefix_node_name>${prefix}controller_manager</controller_manager_prefix_node_name>
        </plugin>
      </gazebo>
    </xacro:if>

    <!-- Links -->
    <gazebo reference="${prefix}virtual_front_wheel_joint">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Black</material>
    </gazebo>

    <!-- Link2 -->
    <gazebo reference="${prefix}virtual_front_wheel_joint">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <material>Gazebo/Black</material>
    </gazebo>

  </xacro:macro>

</robot>
